<html>
    <head>
        <title>Пользователи</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
            .inline {display:inline-block; margin: 0 0 0 2%}
        </style>
    </head>
    <body>
        
        <div class = "inline">
            <h3><a href="/">Пользователи</a></h3>
        </div>
        <div class = "inline">
            <h3><a href="/">Команды</a></h3> 
        </div>
         <div class = "inline">
            <h3><a href="/">Поользователи команд</a></h3> 
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>